*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #e7553b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .nav{
    background-color: #e7553b;
    text-align: center;
  }

  .nav ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #e7553b;
  }

  .nav li{
      float: left;
  }

  .nav li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
  }

  .nav li a:hover{
      background-color: #111;
  }

  .contacto {
      margin: 30px;
  }
  
  .contacto h1{
      text-align: center;
      margin-bottom: 40px;
  }

  .formulario input{
      margin-top: 10px;
      margin-bottom: 20px;
  }

  .boton{
      padding: 0.5em;
      display: block;
      border: none;
      text-align: center;
  }

  .contenedor-datos{
    margin: 30px;
  }


  .footer {
    background-color: #e7553b;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
  }

  .footer a:link, a:visited, a:hover{
    color: #ffffff;
  }

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
